@import url('https://fonts.googleapis.com/css2?family=Prata&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Position the hr element for the transition */
a.active hr {
    position: relative;
    display: block;
    width: 0%; /* Initially hidden */
    transition: width 0.5s ease; /* Smooth transition for width */
  }
  
  /* Create the underline effect */
  a.active hr::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; /* Full width of the hr */
    height: 2px;
    background-color: #000;
    transition: all 0.5s ease; /* Transition for all properties */
    transform: scaleX(0); /* Start with no visible line */
    transform-origin: bottom right; /* Start from the right */
  }
  
  /* On hover, expand the line */
 
  
  a.active:hover hr {
    width: 100%; /* The hr element expands to full width */
  }
*{
  font-family: Outfit;
}
  .prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  }



@media(max-width:640px){
  a.active{
    background-color: black;
    color:white;
  }
}
  
  